server {
  listen 80;
  server_name localhost;
  root /usr/share/nginx/html;
  index index.html;

  # This is the key part for single-page applications.
  # It tells Nginx to try to find a file that matches the request URI.
  # If it fails, it will fall back to serving index.html, which allows
  # the Angular router to take over and handle the routing.
  location / {
    try_files $uri $uri/ /index.html;
  }
}